#overall-wrapper {
    padding: 10px 15%;
}
#main-wrapper {
    display: flex;
    margin-top: 15px;
}
#map-wrapper {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 15px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 15px;
}
#main-head {
    font-family: 'Rubik', sans-serif;
    font-size: 33px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px 0;
}
#lihead {
    font-family: 'Rubik', sans-serif;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}
#can-li {
    list-style: none;
    padding-left: 0;
    padding-right: 15px;
    height: 500px;
    overflow: hidden; 
    overflow-y: scroll;
    display: block;
} 
#mobselect {
    display: none;
}
.mobileSelect-container.white .list-container .mobileSelect-control, button.btn-mobileSelect-gen span.text {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
}
#can-li li {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #717171;
    border-bottom: 1px solid #717171;
    padding: 3px 0;
    margin: 0;
}
#vac-li {
    padding: 0 0 0 16px;
}
#vac-li li {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #717171; 
}
#can-li li.active, #vac-li li.active {
    color: #b9004d;
    font-weight: 500;
}
#left-content {
    width: 30%;
    padding-right: 15px;
    box-sizing: border-box;
}
#tab-content {
    width: 70%;
}
#name {
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    line-height: 50px;
    font-weight: 300;
    color: #000000;
    margin: 0;
}
#sub-tab, #trial, #phases {
    display: flex;
}
#sub-tab div {
    width: 33.33%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
#sub-tab {
    margin: 15px 0;
}
#sub-tab div h2, #trialphase {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #e70037;
    margin: 0 0 10px 0;
}
#country {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}
#sponsor, #funding, #phase1liner, #intro-line {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}
#trial {
    justify-content: space-between;
}
#trial .diffPhases img {
    width: 90%;
    height: auto;
}
.diffPhases h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
    position: relative;
}
  
#myBar {
    margin-top: 10px;
    width: 1%;
    height: 10px;
    background-color: #e70037;
    position: relative;
}
/* div#myBar::after {
    position: absolute;
    content: '\25B2';
    bottom: -8px;
    right: 2px;
    width: 5px;
    height: 5px;
    background: #000;
} */
#arrow1 {
    position: absolute;
    display: inline;
    /* content: '\25B2'; */
    bottom: -8px;
    right: 0.5%;
    width: 5px;
    height: 5px;
    color: #000;
}
#arrow2 {
    position: absolute;
    display: inline;
    /* content: '\25B2'; */
    bottom: -8px;
    right: 38.5%;
    width: 5px;
    height: 5px;
    color: #000;
}
#phases {
    margin-top: 20px;
}
#leftphase {
    width: 30%;
    padding-right: 5%;
    box-sizing: border-box;
}
#rightphase {
    width: 70%;
}
#phaseName {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
}
#phaseDesc1, #phaseDesc2 {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    margin-top: 10px;
}
#phaseDesc1 span, #phaseDesc2 span {
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    #overall-wrapper {
        padding: 10px 3%;
    }
    #map-wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    #main-wrapper {
        flex-direction: column;
    }
    #left-content {
        width: 100%;
        padding-right: 0;
    }
    #tab-content {
        width: 100%;
        margin-top: 10px;
    }
    #main-head {
        font-size: 17px;
        line-height: 28px;
    }
    #lihead {
        font-size: 13px;
        line-height: 15px;
        margin-top: 10px;
    }
    #can-li {
        margin-top: 5px;
        padding-right: 5px;
        display: none;
    }
    #can-li li, #vac-li li {
        font-size: 14px;
        line-height: 18px;
    }
    #mobselect {
        display: block;
    } 
    #name {
        font-size: 16px;
        line-height: 20px;
    }
    #sub-tab {
        margin: 10px 0 0 0;
        flex-direction: column;
    }
    #sub-tab div {
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
    }
    
    #sub-tab div h2, #trialphase {
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 5px 0;
    }    
    #country {
        font-size: 16px;
        line-height: 20px;
    }
    #sponsor, #funding, #phase1liner, #intro-line {
        font-size: 12px;
        line-height: 14px;
    }
    /* #trial .diffPhases img {
        width: 42px;
    } */
    .diffPhases h5 {
        font-size: 5px;
        line-height: 10px;
    }
    .diffPhases:nth-child(3) h5 {
        padding-left: 2px;
    }
    #phaseName {
        font-size: 20px;
        line-height: 26px;
        margin: 5px 0;
    }
    #phaseDesc1, #phaseDesc2 {
        font-size: 12px;
        line-height: 16px;
    }
    #myBar {
        margin-top: 6px;
        height: 8px;
    }
    #phases {
        flex-direction: column;
    }
    #leftphase, #rightphase {
        width: 100%;
        padding-right: 0;
    }
    .map {
        height: 220px !important;
    }
    button.btn-mobileSelect-gen span.caret {
        /* font-size: 20px; */
        display: inline;
        float: left !important;
        margin-top: 0 !important;
        width: 3%;
        padding-left: 5px;
    }
    button.btn-mobileSelect-gen span.text {
        display: inline;
        width: 95%;
    }
}

/*Tab view*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #overall-wrapper {
        padding: 10px 3%;
    }
    #main-head {
        font-size: 25px;
        line-height: 30px;
    }
    #lihead {
        font-size: 18px;
    }
    #can-li {
        display: block;
    } 
    #mobselect, button.btn-mobileSelect-gen {
        display: none;
    }
    #name {
        font-size: 30px;
        line-height: 40px;
    }
    #sub-tab div h2, #trialphase {
        font-size: 16px;
        line-height: 20px;
    }
    #country {
        font-size: 15px;
        line-height: 20px;
    }
    #sponsor, #funding, #phase1liner, #intro-line {
        font-size: 14px;
        line-height: 18px;
    }
    .diffPhases h5 {
        font-size: 7px;
    }
    #phaseName {
        font-size: 40px;
        line-height: 50px;
    }
}
.map{
    width: 100%;
    height: 500px;
    max-width: 800px;
    
    margin: 0 auto;
}


.d3-tip {
    line-height: 1;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
  }
  .d3-tip p {
      margin: 0 0 0 0;
  }
.d3-tip span{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }
